<h3 mat-dialog-title>
  <button mat-icon-button><mat-icon svgIcon="github"></mat-icon></button>

  PUSH TO GITHUB
  <p>{{data.id }} - {{data.slug | titlecase}}</p>
</h3>

<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-around center">
  <div style="padding: 10px">
    <h4 mat-dialog-title>Select Github Repository*</h4>
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radioGroup"
      [(ngModel)]="selectedRepo"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let repo of data.user.repositories"
        [value]="repo"
      >
        {{ repo }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-divider [vertical]="true" style="height: 300px"></mat-divider>
  <div style="padding: 10px">
    <h4 mat-dialog-title>Select Question Bucket*</h4>
    <h4 mat-dialog-title>Recommended Tags:</h4>
    <mat-radio-group
      aria-labelledby="radio-group-label"
      class="radioGroup"
      [(ngModel)]="selectedBucket"
    >
      <mat-radio-button
        class="radio-button"
        *ngFor="let tag of data.tags"
        [value]="tag"
      >
        {{tag}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <p>Custom Question Bucket</p>
      <input matInput [(ngModel)]="selectedBucket" />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
</div>
<mat-divider></mat-divider>
<br />
<p></p>
<p>GitHub : /{{selectedRepo}}/{{selectedBucket}}</p>

<div mat-dialog-actions>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="onClose()">
    Cancel
  </button>
  <button
    mat-raised-button
    style="float: right"
    (click)="pushToGit()"
    [disabled]="selectedRepo === undefined || selectedBucket === undefined || selectedBucket === ''"
  >
    Push
  </button>
</div>
