table {
  width: 90%;
  margin: 10px 40px 10px 40px;
}

th.mat-sort-header-sorted {
  color: black;
}

th {
  color: #5d4037;
}

.spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

.Easy {
  color: #1b5e20;
}
.Medium {
  color: #ffa000;
}
.Hard {
  color: #dd2c00;
}

::ng-deep
  .mat-sort-header-container:not(.mat-sort-header-sorted)
  .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}
